/* .container-explore-nationalities {
  display: flex;
  grid-gap: 15px;
  justify-content: center;
}

.grid-item-explore-nationalities {
  background-color: rgba(25, 26, 25, 0.5);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  height: 45px;
  line-height: 15px;
  text-align: center;
  width: 150px;
}

.card-image-explore-nationalities {
  border-radius: 10px;
  height: 120px;
  width: 120px;
}

.image-container-explore-nationalities {
  background-color: rgba(15, 15, 15, 0.5);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  height: 180px;
  line-height: 15px;
  margin: 5px;
  text-align: center;
  width: 150px;
}

.flex {
  display: flex;
  flex-direction: row;
}
 */
