.login-page-content {
  align-items: center;
  background-color: orange;
  background-image: url('/home/user/trybe-projetos/sd-018-a-project-recipes-app/src/images/waffle.jpg');
  background-size: cover;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.recipes-app {
  color: aliceblue;
  font-family: Lemon , cursive;
  font-size: 40px;
  text-align: center;
}

h1 {
  color: #ff6701;
  font-family: 'Gill Sans' , 'Gill Sans MT' , Calibri , 'Trebuchet MS' , sans-serif;
  font-size: 40px;
  text-align: center;
}

.btn-primary {
  background-color: #ff6701 ! important;
  border-color: #ff6701 ! important;
}

.login-form input:focus {
  outline: 1px solid #4b6587;
}

.login-form button:hover {
  opacity: 0.95;
}

.login-form button:disabled {
  background-color: gray;
}

.login-configuration-btn {
  background-color: white;
  border: 0;
  color: #4b6587;
  font-weight: 900;
  margin-top: 32px;
  padding: 8px;
}

.login-configuration-btn:hover {
  opacity: 0.95;
}
