.container-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 300px;
  justify-content: space-between;
  position: absolute;
  top: 150px;
  width: 100%;
}

.button {
  align-items: center;
  background: rgba(25, 26, 25, 0.5);
  border: none;
  border-radius: 10px;
  color: #f2f2f2;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 45px;
  justify-content: center;
  line-height: 19px;
  width: 322px;
}

.email {
  color: #d8e9a8;
  flex-basis: 100px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 22px;
  line-height: 22px;
}
