/* .btn-primary {
  background-color: #ff6701 ! important;
  border-color: #ff6701 ! important;
} */

.container {
  align-items: center;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.flex-container {
  color: #464646;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  width: 100%;
}

.flex {
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 30vh;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
